.buttons{
  
  .main{

  }

  .remove{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

    .remove_tag,.remove_tag_and_items{
      width: calc(50% - 8px);
    }
  }
}

.tagForm{
  padding-bottom: 0;
}