.text{
  text-align: center;
  font-size: 32px;
}

.link{
  padding: 16px;
}

.icon_wrapper{
  margin-top: 25vh;
  .fox{
    width: 128px;
    height: 128px;
    &_wrapper{
      padding: 120px 0;
    }
  }
}
