.start_page{
  >.pig_wrapper{
    padding: 160px 0;
    >.pig{
      width: 128px;
      height: 128px;
    }
  }

  .button{
    padding: 16px;
  }

  .navIcon{
    width: 30px;
    height: 30px;
  }
}