:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-z-index-nav:16;
  --welcome-bg-start:#5d33be;
  --welcome-bg-end:#8f4cd7;
  --welcome-nav-height:64px;
  --welcome-nav-gap:8px;
  --button-bg:#5c33be;
  --button-text:white;
  --button-font-size:18px;
  --button-border-radius:8px;
  --button-height:48px;
  --floatButton-text:white;
  --floatButton-bg:var(--button-bg)
}