:root {
  --welcome-card-bg: white;
  --app-name-text: #7878FF;
  --welcome-text: white;
  --welcome-z-index-nav:16;
  --welcome-bg-start:#8400ff;
  --welcome-bg-end:#6a00ff;
  --welcome-nav-height:64px;
  --welcome-nav-gap:8px;
  --button-bg:#8400ff;
  --button-text:white;
  --button-font-size:18px;
  --button-border-radius:8px;
  --button-height:48px;
  --floatButton-text:white;
  --floatButton-bg:var(--button-bg);
  --navbar-bg-start:var(--welcome-bg-start);
  --navbar-bg-end:var(--welcome-bg-end);
  --navbar-text:white;
  --z-index-bottom-nav: 8; 
  --z-index-overlay: 16;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: white;
  --top-safe-area-height: 24px;
  --overlay-user-bg: #8400ff;
  --overlay-user-text: white;
  --tabs-indicator-bg:rgba(255,255,255,0.5);
  --inputpad_border_color:#ddd;
  --amount-text: #53A867;
  --date-text: #999999;
  --inputpad-bg-color: white;
  --inputpad-button-bg-important: #8400ff;
  --inputpad-button-text-important:white;
  --input-min-height: 48px;
  --input-border-color: #8400ff;
  --input-radius: var(--button-border-radius);
  --input-shadow: rgba(0,0,0,0.25);
  --error-color: #E10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #333;
  --main: #8400ff;
  --tag-bg: #EFEFEF;
  --emoji-selected:var(--emoji-nav-text-selected);
  --button-bg-danger:#E10505;
  --button-text-danger:white;
  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --list-time-text: var(--date-text);
  --total-bg: #252A43;
  --total-text: white;
  --total-income: #FE7275;
  --total-expenses: #53A867;
  --bg: white;
  --dialog-header-text: white;
  --text-muted: #666;
  --bar-bg: #CCCCCC;
}